/*NAVIGATION*/

.collapse a {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
}


.navbar a:hover{
    background-color:black;
    
}

/*HOME*/
    
.home{
    background-color: grey;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background-image: url(codebus.jpg);
    background-size:cover;
    filter: brightness(28%);
    }

.home h1{
    font-size: 28px;
    font-family: 'poppins', sans-serif;
    color: black;
    text-align:center;
    padding-top: 300px;
   }


@media(max-width:768px){
    .header{
    padding:30px;
    height:750px;
    
}


    /*FOCUS*/
 h2 {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    }
    
/*  PROGRAM*/    
    
    .packages {
        border-radius: 5px;
        padding: 30px;
        border: 3px solid color;
        background-color:mintcream;
    }
        
/* PARTNER*/


/* CONTACT*/

      
/* FOOTER*/
    
    
    
    
    
    
    
    
    
